instagrapi == 1.16.30
instaloader == 4.9.5
instabot == 0.117.0
requests == 2.31.0
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
